* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    height: auto;
    background-color: #D0CDD7;
}

.billboard{
    border: 2px solid #416165;
}

.billboard-img{
    border: 1px white solid;
    box-shadow: gray;
    width: 285px;
    height: 380px;
}

.container{
    
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.home-games{
    margin-left: 70px;
    margin-bottom: 10px;
}

.title{
    position: relative;
    top: 20px;
    padding-bottom: 60px;
    left: 46%;
    
}

.records{
    padding: 0%;
    position: relative;
    background-color:  #D0CDD7;
}

.players{
    padding: 0%;
    position: relative;
    justify-self: flex-end;
    background-color:  #D0CDD7;

}
.gamecard:hover{
    background-color: hsl(206, 70%, 96%);
    color: #0B3948;

}

.formbox{
    margin: auto;
    width: 60%;
    position: relative;
    top: 30%;
    border: 2px solid firebrick;
    margin-top: 30%;
    justify-content: center;
}

.signup{
    background-color: hsl(347, 90%, 96%);
    height: 50%;
    display: flex;
}

.entry{
    background-color: hsl(347, 90%, 96%);
    border: 2px solid firebrick;
    position: relative;
    width: 35rem;
    display: flex;
    align-items: center;
}
.game-entry{
    background-color: #ACB0BD;
    border: 2px solid rgb(34, 168, 178);
    position: relative;
}

.info{
    margin-left: 10px;
}

.profile{
    padding-left: 0%;
    padding-right: 0%;
    border: 2px solid white;
    background-color: #D9DBF1;
}
.profile-pic{
    border-radius: 50%;
    width: 128px;
    height: 128px;
    margin-bottom: 10px;
}

.info-box{
    padding: 15px;
    display: flex;
    justify-content: center;
}

.pic{
    border: .5px solid #D0CDD7;
    display: flex;
    max-width: 96px;
}

.image-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}

.box .buttons{
    position: absolute;
    bottom: 5px;
    right: 5px;
    justify-self: flex-end;
}

.head{
    display: flex;
    color: #D0CDD7;
    background-color: #0B3948;
    border: 1px solid firebrick;
    min-height: 30px;
    justify-content: center;
    margin-bottom: 10px;
}