{% extends 'base.html' %} {% block content %}

<div class="columns is-mobile">
    <div class="column is-10 is-offset-1 billboard" style="background-image: url('{{game.cover_img}}'); background-repeat: no-repeat; background-size: cover;">
        <img class="billboard-img" src="{{ game.cover_img }}" alt="">
    </div>
</div>

<h1 class="title">{{game.title}}</h1>
<div class="container columns">
    <div class="records column is-one-fourth">
        <h2 class="head">{{ game.title }} Records</h2>
        {% for record in game.records.all %}
        <div class="box entry is is-flex-direction-column">
            <h1>{{record.player}}</h1>
            <h1>{{record.description}}</h1>
            <h1>{{record.game}}</h1>
        </div>
        {% endfor %}
    </div>

    <div class="players column is-one-fourth">
        <div>
            <h2 class="head">{{ game.title }} Players</h2>
        </div>
        {% for record in game.records.all %}
        <div class="box entry">
            <h1>{{record.player.name}}</h1>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}