{% extends 'base.html' %} {% block content %}
<h1 class="title">Home</h1>
<div class="games_list row">
    {% for game in games %}
    <div class="card col-sm-4" style="width: 18rem; margin: auto;">
        <img src="{{game.cover_img}}" class="card-img-top" alt="{{game.title}}">
        <div class="card-body">
          <h5 class="card-title">{{game.title}}</h5>
          <p class="card-text">{{game.release_date}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    {% endfor %}
</div>

{% endblock %}
