{% extends 'base.html' %} {% block content %}

    <h1 class="title">{{player.name}}</h1>

    
    <div>
        {% for record in player.records.all %}
        <div class="box is-flex-direction-row entry">
            <a href="{% url 'game_details' record.game.pk %}">
                <div class="picture">
                    <img class="image is-96x96" src="{{ record.game.cover_img }}" alt="">
                </div>
            </a>
                <div class="info is-flex-direction-column">
                        <h1 class="date">{{record.date}}</h1>
                        <p>{{ record.description }}</p>
                </div>
                
            <div class="buttons">
                <a class="button is-dark" href="{% url 'record_update' record.pk %}">Edit</a>
                <a class="button is-danger" href="{% url 'record_delete' record.pk %}">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="button is-focused is-danger" href="{% url 'record_create' player.pk %}">New Record</a>
        <form action="{% url 'record_create' player.pk %}">
            {% csrf_token %} {{ form.as_p }}
        </form>

{% endblock %}